@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #fff;
    font: 400 12px/1.8 "Roboto Condensed", sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
  }